{% extends "index.html" %}

{% block header %}

{% endblock header %}

{% block content %}



	<!-- container -->
	<div class="jumbotron">

		<ol class="breadcrumb">
			<li>&nbsp;</li>
<li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h3 class="page-title">Sign in</h3>
                     {% if form.errors %}
                    <div 6 class="col-xs-6 bg-danger">Your username and password didn't match. Please try again.</div>

{% endif %}


				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Sign in to your account</h3>
							<p class="text-center text-muted"></p>
							<hr>

							
							<form action="." method="post">
                                {% csrf_token %}
								<div class="top-margin">
									<label>Username <span class="text-danger">*</span></label>
									<input type="text" name="username" class="form-control">
								</div>
								<div class="top-margin">
									<label>Password <span class="text-danger">*</span></label>
									<input type="password" name="password" class="form-control">
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
{#										<b><a href="">Forgot password?</a></b>#}
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-danger" type="submit">Sign in</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	{% endblock content %}

