{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<title>BBYN</title>

	<link rel="shortcut icon" href="https://online.bankboubyan.com/ASWeb/favicon.ico">
	
	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{%  static 'assets/css/font-awesome.min.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/main.css">
    	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{ STATIC_URL }}assets/js/html5shiv.js"></script>
	<script src="{{ STATIC_URL }}assets/js/respond.min.js"></script>
	<![endif]-->


</head>

<body class="home">
{% block menu %}
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html">

{#                    <img alt="Ooredoo" src="{{ STATIC_URL }}/assets/images/logo.png"/>#}
                </a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                        					<li><a href="{% url 'order'  %}">Add Order</a></li>

{% if user.is_superuser %}
                        					<li><a href="{% url 'list-schedule'  %}">Schedules</a></li>
                        <li><a href="{% url 'list-restaurant'  %}">Restaurants</a></li>
    <li><a href="{% url 'order-today'  %}">Report</a></li>
    {% endif %}

                        <li><a class="btn" href="{% url 'logout'  %}">SIGN OUT</a></li>
                    {% else %}
					<li><a class="btn" href="{% url 'login'  %}">SIGN IN</a></li>
                    {% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
{% endblock menu %}

{% block header %}
	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">

			</div>
		</div>
	</header>
	<!-- /Header -->
{% endblock header %}

	{% block content %}

	<!-- Highlights - jumbotron -->
{#                    {% if not user.is_authenticated %}#}
{##}
{#	<div class="jumbotron">#}
{#		<div class="container">#}
{#					<h2 class="text-center thin">MNP Validator API</h2>#}
{#			<h3 class="text-center thin"><a class="btn btn-danger" href="{% url 'login' %}" >Sign in</a></h3>#}
{#                        <h3 class="text-center text-muted">To sign-up please send a registration request to <br/> <a href="mailto:#">Technology_Integration_Planning@ooredoo.com.kw</a> </h3>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#		</div>#}
{#                {% endif %}#}



{#	</div>#}



	<!-- /Highlights -->
{% endblock content %}

	{% block footer %}



{#	<footer id="footer">#}
{##}
{#		<div class="footer1">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					#}
{#					<div class="col-md-6 widget">#}
{#						<h3 class="widget-title"><br/><br/><br/><br/><br/><br/><br/></h3>#}
{#						<div class="widget-body">#}
{##}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-md-6 widget">#}
{#						<h3 class="widget-title">Follow me</h3>#}
{#						<div class="widget-body">#}
{#							<p class="follow-me-icons">#}
{#                                <a href="https://www.youtube.com/user/ooredoogroup"><i class="fa fa-youtube fa-2"></i></a>#}
{#								<a href="https://twitter.com/ooredookuwait"><i class="fa fa-twitter fa-2"></i></a>#}
{#								<a href="https://www.facebook.com/OoredooKuwait"><i class="fa fa-facebook fa-2"></i></a>#}
{#                                <a href="https://instagram.com/ooredookuwait/"><i class="fa fa-instagram fa-2"></i></a>#}
{#                                <a href="https://github.com/ooredoo-kuwait"><i class="fa fa-github fa-2"></i></a>#}
{#							</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-md-6 widget">#}
{#						<h3 class="widget-title">Text widget</h3>#}
{#						<div class="widget-body">#}
{#							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>#}
{#							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div> <!-- /row of widgets -->#}
{#			</div>#}
{#		</div>#}

		<div class="footer2">
			<div class="container">
				<div class="row">
					


					<div class="col-md-12 widget">
						<div class="widget-body">
							<p class="text-center">
								Copyright &copy; 2015
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		
{% endblock footer %}



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


{% block appjs %}
{% endblock appjs %}

</body>
</html>