{% extends "index.html" %}

{% block header %}

{% endblock header %}

{% block content %}



	<!-- container -->
	<div class="jumbotron">

		<ol class="breadcrumb">
			<li>&nbsp;</li>
<li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h3 class="page-title">Add Your Order</h3>
                     {% if form.errors %}
                    <div 6 class="col-xs-6 bg-danger">Please fill all the required field</div>

{% endif %}

                {% if success %}
                <div class="alert alert-success">
  <strong>Success!</strong> Your Order is placed successfully.
</div>

                {% endif %}


				</header>

				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Today Restaurant is  {{ order.schedule.restaurant.name }}</h3>
							<p class="text-center text-muted"></p>
							<hr>



                            <form class="form-horizontal" action="." method="post">
                                {% csrf_token %}
<fieldset>



<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Your Order</label>
  <div class="col-md-4">
    <textarea class="form-control" id="textarea" name="items"> {{ myorder.order }} </textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" type="submit" class="btn btn-info">Submit</button>
  </div>
</div>

</fieldset>
</form>


						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	{% endblock content %}

