{% extends "index.html" %}

{% block header %}

{% endblock header %}

{% block content %}



	<!-- container -->
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">

		<ol class="breadcrumb">
			<li>&nbsp;</li>
<li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h3 class="page-title"></h3>
                     {% if form.errors %}
                    <div 6 class="col-xs-6 bg-danger">Please fill all the required field</div>

{% endif %}

                {% if messages %}
                <div class="alert alert-success">
  <strong>
          {% for message in messages %}
      {{ message }}
      {% endfor %}

  </strong>
</div>

                {% endif %}


				</header>

				<div class="col-md-4 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
                         <table class="table table-hover">
<thead>
        <tr>
          <th>Employee Name</th>
          <th>Order</th>

        </tr>
      </thead>
                          <tbody>


            {% for k,v in object.items.items %}

        <tr>
          <th scope="row">{{ v.name }}</th>
          <td>{{ v.order }}</td>
                          </tr>

                          {% endfor %}

</tbody>
 </table>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	{% endblock content %}


{% block appjs %}
<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
  });

  </script>
{% endblock appjs %}
