{% extends "index.html" %}

{% block header %}

{% endblock header %}

{% block content %}



	<!-- container -->
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">

		<ol class="breadcrumb">
			<li>&nbsp;</li>
<li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h3 class="page-title"></h3>
                     {% if form.errors %}
                    <div 6 class="col-xs-6 bg-danger">Please fill all the required field</div>

{% endif %}

                {% if messages %}
                <div class="alert alert-success">
  <strong>
          {% for message in messages %}
      {{ message }}
      {% endfor %}

  </strong>
</div>

                {% endif %}


				</header>

				<div class="col-md-4 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
                            {% for object in object_list %}
							<h3 class="thin"> {{ object.name }}</h3>


<div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-danger" href="{% url 'delete-restaurant' object.pk %}">


  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>



                            </a>
     <a class="btn btn-info" href="{% url 'edit-restaurant' object.pk %}">


  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>



                            </a>
     <a class="btn btn-warning" href="{% url 'add-restaurant' %}">


  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>



                            </a>

</div>
{% endfor %}


						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	{% endblock content %}


{% block appjs %}
<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
  });

  </script>
{% endblock appjs %}
