{% extends "index.html" %}

{% block header %}

{% endblock header %}

{% block content %}



	<!-- container -->
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">

		<ol class="breadcrumb">
			<li>&nbsp;</li>
<li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h3 class="page-title"></h3>
                     {% if form.errors %}
                    <div 6 class="col-xs-6 bg-danger">Please fill all the required field</div>

{% endif %}

                {% if messages %}
                <div class="alert alert-success">
  <strong>
          {% for message in messages %}
      {{ message }}
      {% endfor %}

  </strong>
</div>

                {% endif %}


				</header>

				<div class="col-md-4 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
                         <table class="table table-hover">
<thead>
        <tr>
          <th>ID</th>
          <th>Restaurant Name</th>
          <th>Date</th>
          <th>Default</th>
            <th>Actions</th>
        </tr>
      </thead>
                          <tbody>
                            {% for object in object_list %}




        <tr>
          <th scope="row">{{ object.pk }}</th>
          <td>{{ object.restaurant.name }}</td>
          <td>{{ object.schedule_date }}</td>
          <td>

          {% if object.default %}

              <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
              {% else %}
              <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
{% endif %}


          </td>
        <td>

             <a class="btn btn-warning" href="{% url 'add-schedule' %}">


  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>



                            </a>
                                <a class="btn btn-danger" href="{% url 'delete-schedule' object.pk %}">


  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>



                            </a>
     <a class="btn btn-info" href="{% url 'edit-schedule' object.pk %}">


  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>



                            </a>


</td>
        </tr>








{% endfor %}
</tbody>
 </table>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	{% endblock content %}


{% block appjs %}
<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
  });

  </script>
{% endblock appjs %}
